<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="description" content="" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.svg" />
    <!-- Place favicon.ico in the root directory -->

    <!-- Web Font -->
    <link
        href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">

    <!-- ========================= CSS here ========================= -->
    <link rel="stylesheet" href="assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="assets/css/LineIcons.2.0.css" />
    <link rel="stylesheet" href="assets/css/animate.css" />
    <link rel="stylesheet" href="assets/css/tiny-slider.css" />
    <link rel="stylesheet" href="assets/css/glightbox.min.css" />
    <link rel="stylesheet" href="assets/css/main.css" />
    <style>
        *{
            font-family: cursive;
        }
    </style>

</head>

<body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">
        You are using an <strong>outdated</strong> browser. Please
        <a href="https://browsehappy.com/">upgrade your browser</a> to improve
        your experience and security.
      </p>
    <![endif]-->

    <!-- Preloader -->
    <div class="preloader">
        <div class="preloader-inner">
            <div class="preloader-icon">
                <span></span>
                <span></span>
            </div>
        </div>
    </div>
    <!-- /End Preloader -->

    <!-- Start Header Area -->
    <header class="header navbar-area">
        <div class="content p-3">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <div class="nav-inner">
                        <nav class="navbar navbar-expand-lg">
                            <a class="navbar-brand" href="{{path('app_home')}}">
                                <h5 class="text-uppercase text-wrap" style="color:#00f;font-family: cursive;">Évènements</h5>
                            </a>
                            <button class="navbar-toggler mobile-menu-btn" type="button" data-bs-toggle="collapse"
                                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                                aria-expanded="false" aria-label="Toggle navigation">
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                                <span class="toggler-icon"></span>
                            </button>
                            <div class="collapse navbar-collapse sub-menu-bar" id="navbarSupportedContent">
                                <ul id="nav" class="navbar-nav ms-auto">
                                    <li class="nav-item">
                                        <a class="{{ app.request.attributes.get('_route') == 'app_home' ? 'active' : '' }} dd-menu collapsed" href="{{path('app_home')}}"
                                            aria-label="Toggle navigation">Accueil</a>
                                    </li>
                                    <li class="nav-item">
                                        <a href="javascript:void(0)" aria-label="Toggle navigation"></a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="{{ app.request.attributes.get('_route') == 'toutes_les_evenements' ? 'active' : '' }} dd-menu collapsed" href="{{path('toutes_les_evenements')}}"
                                            aria-label="Toggle navigation">Les évènements</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="{{ app.request.attributes.get('_route') == 'app_mesParticipations' ? 'active' : '' }} dd-menu collapsed" href="{{path('app_mesParticipations')}}"
                                            
                                            aria-label="Toggle navigation">participations</a>
                                    </li>
                                    <li class="nav-item">
                                        <a class=" dd-menu collapsed" href="javascript:void(0)"
                                            data-bs-toggle="collapse" data-bs-target="#submenu-1-5"
                                            aria-controls="navbarSupportedContent" aria-expanded="false"
                                            aria-label="Toggle navigation">profil</a>
                                    </li>
                                </ul>
                            </div> <!-- navbar collapse -->
                            <div class="login-button">
                                <ul>
                                    {% if app.user %}
                                        {# L'utilisateur est connecté #}
                                        <li>
                                            <a href="{{ path('app_logout') }}"><i class="lni lni-exit"></i> Se déconnecter</a>
                                        </li>
                                        {% if is_granted('ROLE_SUPER_ADMIN') %}
                                            <li>
                                                <a href="{{ path('app_admin') }}"><i class="lni lni-exit"></i>Admin</a>
                                            </li>
                                        {% elseif is_granted('ROLE_ADMIN') %}
                                            <li>
                                                <a href="{{ path('app_admin') }}"><i class="lni lni-exit"></i>Admin</a>
                                            </li>
                                        {% else %}

                                        {% endif %}
                                    {% else %}
                                        {# L'utilisateur n'est pas connecté #}
                                        <li>
                                            <a href="{{ path('app_login') }}"><i class="lni lni-enter"></i> Se connecter</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('app_register') }}"><i class="lni lni-user"></i> S'enregistrer</a>
                                        </li>
                                    {% endif %}
                                </ul>
                            </div>
                            {% if app.user %}
                                {% set username = app.user.email|split('@')|first %}
                                <div class="button header-button">
                                    <a href="javascript:void(0)" class="btn">
                                        Bonjour {{ username|upper }}
                                    </a>
                                </div>    
                                {% else %} 
                            {% endif %}
                            
                        </nav> <!-- navbar -->
                    </div>
                </div>
            </div> <!-- row -->
        </div> <!-- container -->
    </header>
    
    <div>
        {% block content %}
            
        {% endblock %}
    </div>

    
    <!-- End Newsletter Area -->

    <!-- Start Footer Area -->
    <footer class="footer">
        <!-- Start Footer Top -->
        
        <!--/ End Footer Middle -->
        <!-- Start Footer Bottom -->
        <div class="text-center">
        Developped by GNANGNON PRINCE BRUMMELL
        </div>
        
        <!-- End Footer Middle -->
    </footer>
    <!--/ End Footer Area -->

    <!-- ========================= scroll-top ========================= -->
    <a href="#" class="scroll-top btn-hover">
        <i class="lni lni-chevron-up"></i>
    </a>

    <!-- ========================= JS here ========================= -->
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/wow.min.js"></script>
    <script src="assets/js/tiny-slider.js"></script>
    <script src="assets/js/glightbox.min.js"></script>
    <script src="assets/js/main.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script type="text/javascript">
        //========= Category Slider 
        tns({
            container: '.category-slider',
            items: 3,
            slideBy: 'page',
            autoplay: false,
            mouseDrag: true,
            gutter: 0,
            nav: false,
            controls: true,
            controlsText: ['<i class="lni lni-chevron-left"></i>', '<i class="lni lni-chevron-right"></i>'],
            responsive: {
                0: {
                    items: 1,
                },
                540: {
                    items: 2,
                },
                768: {
                    items: 4,
                },
                992: {
                    items: 5,
                },
                1170: {
                    items: 6,
                }
            }
        });
        // Exemple en utilisant JavaScript avec jQuery

        var userInactiveTime = 0;

        // Réinitialise le compteur d'inactivité lorsqu'une action est détectée
        $(document).on('mousemove keydown', function() {
            userInactiveTime = 0;
        });

        // Vérifie périodiquement le compteur d'inactivité et déclenche la déconnexion si nécessaire
        setInterval(function() {
            userInactiveTime += 1;

            // Configurez la durée d'inactivité maximale (en secondes)
            var maxInactiveTime = 1800; // 30 minutes

            if (userInactiveTime > maxInactiveTime) {
                // Redirigez l'utilisateur vers la page de déconnexion ou effectuez une action de déconnexion
                window.location.href = '/logout';
            }
        }, 1000); // Vérifie toutes les secondes
    
    </script>
</body>

</html>